<div class="form-wrapper profile">
	
	<%= form_for(@profile) do |f|%>
		<div class="first-form" id="first-form">
			<%= f.hidden_field :first_name, value: @first%>
			<%= f.hidden_field :last_name, value: @last%>
			
			<div class="field full">
			  <%= f.text_field :address, placeholder: 'Address' %>
			</div>
			<div class="forget-fields wrapper--flex">
				<div class="field col--two-margin">
				  <%= f.text_field :city, placeholder: 'City'%>
				</div>
				<div class="field col--two-margin">
				  <%= f.collection_select :province, Profile::PROVINCES, :to_s, :to_s, {:prompt => 'Province'}%>
				</div>
			</div>
			<div class="forget-fields wrapper--flex">
				<div class="field col--two-margin">
				  <%= f.text_field :postal_code, placeholder: 'Postal Code'%>
				</div>
				<div class="field col--two-margin">
				  <%= f.text_field :country, placeholder: 'Country'%>
				</div>
			</div>
			<div class="field wrapper--flex">
				<%= f.date_select(:birthday, :order => [:month, :day, :year], :prompt => { :month => 'Birthday Month', :day => 'Day',:year => 'Year' } ) %>
			</div>
			<a href="#" class="button button--primary" id="next">next</a>
		</div>
		<div class="second-form hidden" id="second-form">
			<div class="field full">
				<%= f.collection_select :retailer, Profile::RETAILERS, :to_s, :to_s, {:prompt => 'Which Retailer Are you Working for?'}%>
			</div>
			<div class="forget-fields wrapper--flex">
				<div class="field col--two-margin">
					<%= f.text_field :store_number, placeholder: 'Store Number'%>
				</div>
				<div class="field col--two-margin">
					<%= f.text_field :store_name, placeholder: 'Store Name'%>
				</div>
			</div>
			<div class="forget-fields wrapper--flex">
				<div class="field col--two-margin">
					<%= f.text_field :years_experience, placeholder: 'Years of Experience?'%>
				</div>
				<div class="field col--two-margin">
					<%= f.text_field :skin_concern, placeholder: 'Skin Concern'%>
				</div>
			</div>

			<p><%= f.check_box :email_list%> I give Dr. Roebuck's express consent to send me communication about new products, new courses and brand information.</p>
			<p><%= f.check_box :terms%> I have read and agreed to the terms and conditions and privacy policy.</p>
			<div class="actions">
			  <%= f.submit 'submit', class: 'button button--primary' %>
			</div>
		</div>
		
		
	<% end %>
</div>

<script>
// $(document).on('ready page:load', function(){

	$( "#profile_birthday_2i" ).wrap( "<div class='col--two-margin field'></div>" );
	$( "#profile_birthday_3i" ).wrap( "<div class='col--four-margin field'></div>" );
	$( "#profile_birthday_1i" ).wrap( "<div class='col--four-margin field'></div>" );

	var objHeight = $('.first-form').height()
	$('.profile').height(objHeight + 80);

	$('#next').on('click', function(){
		$('.first-form').addClass('hidden');
		$('.second-form').removeClass('hidden');
		var objHeight = $('.second-form').height()
	$('.profile').height(objHeight + 80);
	});
// });
	
</script>