
<div class="page devise">
	
	<div class="wrapper center-text">
		<h2>Learn about beauty inside and out</h2>
		<div class="form-wrapper">
			<div class="sign-in">
				
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				  <div class="field">
				    <%= f.email_field :email, autofocus: true, placeholder: 'Username' %>
				  </div>

				  <div class="field">

				    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
				  </div>

				  <div class="actions">
				    <%= f.submit "Submit", class: 'button button--primary full' %>
				  </div>
				<% end %>
				<p><%= link_to "Forgot password?", new_password_path(resource_name) %></p>
		<!-- 		<hr>
				<p><a href="mailto:training@drroebucks.com?subject=I forgot my password&body=Hey, could you reset my password. Thanks!" target="_blank">Forgot password?</a></p> -->

				<p>New to Dr. Roebuck's ?</p> 
				<%= link_to "Join our family now!", new_registration_path(resource_name), class: 'button button--secondary full' %>
			</div>
		</div>
		
	</div>

</div>
