<p id="notice"><%= notice %></p>

<h1>Listing Learning Modules</h1>
  
<% @learning_modules.each do |learning_module| %>
  <%= link_to learning_module_path(learning_module) do%>
    <%= image_tag learning_module.image.url %>
    <div class="content">
      <%= learning_module.title %>
      <%= learning_module.description %>
    </div>
  <% end %>  
<% end %>

  
