<div class="page">
	<div class="wrapper center-text">
		<h1><%= @learning_module.title %></h1>

		<p>
		  <strong>Description:</strong>
		  <%= @learning_module.description %>
		</p>

		<%= link_to 'Take the Test', @learning_module.test, class: 'button button--primary' %>

		<%= link_to 'Edit', edit_learning_module_path(@learning_module) %> |
		<%= link_to 'Back', learning_modules_path %>
	</div>
</div>
