<div class="page">
  
  <div class="wrapper">
    
    <h1 class="center-text">Listing Clinical Trials</h1>


    <div class="wrapper--flex">
      <% @clinical_trials.each do |clinical_trial| %>
        <div class="col--three-margin circle trial library-skin" style="background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 59%, rgba(255, 255, 255, 0.6) 100%), url(<%= clinical_trial.image.url %>)" data-trial="<%= clinical_trial.pdf.url%>">
          <%= link_to clinical_trial do %>
            <h2 class="center-absolute"><%= clinical_trial.title %></h2>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="wrapper--flex">
      <% @clinical_trials.each do |clinical_trial| %>
        <div class="col--three-margin center-text">
          <%= link_to 'Download', clinical_trial.pdf.url, target: '_blank', class: 'button button--primary'%>
        </div>
      <% end %>       
    </div>
  </div>
  <div id="container-pdf"></div>
</div>

<script>
  $('.trial').on('click', function(e){
    e.preventDefault()
    var pdf = $(this).data('trial')
    if(pdf != 'undefined'){
      $('#container-pdf').append('<iframe class="center-absolute" src="' + pdf + '#toolbar=0&navpanes=0&scrollbar=0" width="600" height="500" style="border:none;" frameborder="0">')
      $('#container-pdf').css('display', 'block')
    }
  });
  $('#container-pdf').on('click', function(e){
    e.stopPropagation();
    $(this).empty().css('display', 'none')
  })
</script>