<fieldset>
	<div class="field">
	  <%= f.label :title %><br>
	  <%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :_destroy, 'delete question'%>
		<%= f.check_box :_destroy%>
	</div>
	<div class="field">
		<%= f.hidden_field :test_id, value: @test.id%>
	</div>
	<div class="actions">
	  <%= f.submit %>
	</div>
	<%= f.fields_for :answers do |builder| %>
	  <%= render 'answer_fields', f: builder %>
	<% end %>
	<%= link_to_add_fields "Add Answer", f, :answers %>
</fieldset>