<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Learning module:</strong>
  <%= @test.learning_module %>
</p>

<% @test.questions.each do |question| %>
    <p><%= question.title %></p>
    <% question.answers.each do |answer| %>
        <p><%= answer.title %></p>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
