<div class="page">
	<div class="wrapper">
		<h1 class="center-text"><%= @test.name %></h1>
		
			<div class="test clearfix">
				<% @test.questions.in_groups_of(2) do |group| %>
					<div class="question-group hidden">
						<% group.compact.each do |question| %>
							<div class="question">
						    <h2><%= question.title %></h2>
						    <% question.answers.each do |answer| %>
						    	<%= radio_button(question.title, answer.question.id, answer.correct) %>
						    	<%= label_tag answer.title %><br>
						    <% end %>
							</div>
						<% end %>
					</div>
				<% end %>
				
			</div>
			<button class="button button--primary next-question">Next</button>
			<button class="button button--primary submit-test hidden">Submit</button>

		<hr>
		<%= link_to 'Edit', edit_test_path(@test) %> |
		<%= link_to 'Back', tests_path %>
	</div>
</div>

<script>
	$(document).on('ready page:load', function(){
		// Get total number of questions
		var total_questions = $('.question').length
		console.log(total_questions)
		// Intially set first group to active
		$('.question-group').first().removeClass('hidden').addClass('active')
		// Initially set height for first group
		var objHeight = $('.question-group.active').height()
		$('.test').height(objHeight + 30);

		//next button
		$('.next-question').on('click', function(){

			var this_question_group = $('.question-group.active')

			var next_question_group = this_question_group.next();
			if(next_question_group.hasClass('question-group')){
				next_question_group.addClass('active').removeClass('hidden')
				this_question_group.addClass('hidden').removeClass('active');
				objHeight = $('.question-group.active').height()
				$('.test').height(objHeight + 30);
				if(!next_question_group.next().hasClass('question-group')){
					$('.next-question').addClass('hidden');
					$('.submit-test').removeClass('hidden');
				}
			}
		});

		$('.submit-test').on('click', function(){
			var score = 0;
			var percentage = 0;
			$('.question').each(function(){
				question_name = $(this).children('input:radio').attr('name')
				input = $("input[type='radio'][name='" +question_name + "']:checked").val()
				if(input == 'true'){
					score += 1
				};
			});
			console.log(score)
			var percentage = score / total_questions
			console.log(percentage)
			if(percentage >= 0.8){
				words = '<h1 class="center-text">Congratulations</h1> <p>You completed the test successfully!</p> <p>Your score:' + percentage * 100 + '% </p> <p>Minimum passing mark: 80%</p> <p>We\'re so happy to have you part of the Dr Roebucks \'s family, we will be sending you Kim & Zoe must have products FACE & POLISH, we hope you love thme as much as we do!</p> <p>Your local precious skin specialist will deliver it directly to you.</p><p>The first 200 beauty experts to complete our precious training will recieve a $50 Lululemon gift card.</p>'
			} else {
				words = '<h1 class="center-text">Sorry, Beautiful. You didn\'t pass the test!</h1> <p>Your score:' + percentage * 100 + '% </p> <p>Minimum passing mark: 80%</p> <p>Please restart the tests HERE</p>'
			}
			$('.wrapper').html(words)

			$.ajax({
        url: '',
        type: 'get',
        data: {
          score : score,
          total_questions : total_questions
        },
        dataType: 'script'
      });
		});

	});
	</script>