<h1><%= @test.name %></h1>
<%= form_for() %>
	<% @test.questions.each do |question| %>
	    <p><%= question.title %></p>
	    <% question.answers.each do |answer| %>
	    	<%= radio_button answer.id %>
	        <p><%= answer.title %></p>
	    <% end %>
	<% end %>
</form>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
