<!DOCTYPE html>
<html>
<head>
  <title>Dr. Roebuck's</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://localhost:8000/styleguide/assets/styles/styleguide.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="admin">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <div id="admin--only">
      <div class="sidebar">
        <%= link_to "Dr Roebuck's Admin", root_path, class: 'sidebar--header'%>
        <%= link_to "Learning Modules", admin_learning_modules_path, class: is_active?("admin/learning_modules") %>
        <%= link_to "Tests", admin_tests_path, class: is_active?("admin/tests") %>
        <%= link_to "Clinical Trials", admin_clinical_trials_path, class: is_active?("admin/clinical_trials") %>
        <%= link_to "Skin Diets", admin_skin_diets_path, class: is_active?("admin/skin_diets") %>
        <%= link_to "Videos", admin_videos_path, class: is_active?("admin/videos") %>
        <% if user_signed_in? %>
          <div class="sidebar--user">
            <span>Logged in as <strong><%= current_user.email %></strong></span>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </div>
        <% end %>
      </div>
      <div class="breadcrumb">
        <a href="#">Admin Panel</a>
      </div>
      <div class="admin--content">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>







