<!DOCTYPE html>
<html>
<head>
  <title>Drroebucks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
  <script src="https://mozilla.github.io/pdf.js/build/pdf.worker.js"></script>
  <script src="https://use.fontawesome.com/a796a7cacc.js"></script>
</head>
<body>

<div class="main" style="background-image: url(<%=image_url('drr-background2.jpg')%>);">

  <%= link_to root_path do %>
  <%= image_tag 'logo.png', class: 'logo' %>
  <% end %>
  <div class="sur-title">
    <p>Minimal Ingredients</p>
    <p>Maximum results</p>
  </div>
  <div class="nav">
    <ul>
      <li><%= link_to 'Courses', root_path %></li>
      <li><%= link_to 'Libraries', libraries_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% if current_user.profile.present? %>
          <% if current_user.profile.role.present? && current_user.profile.role == 'admin'%>
            <li><%= link_to 'Admin', admin_show_path %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= yield %>  

  <div class="footer">
    <ul>
      <li><a href="mailto:training@drroebucks.com.au" target="_blank">Contact Us</a></li>
      <li>More tips for healthy skin</li>
      <li><a href="https://www.facebook.com/DrRoebucks/"><i class="fa fa-facebook-square" target="_blank"></i></a></li>
      <li><a href="https://www.instagram.com/drroebucks/"><i class="fa fa-instagram" target="_blank"></i></a></li>
    </ul>
  </div>
</div>




</body>
</html>
